.Card{
   height: 30px;
    width: 50%;
    background-color: darkblue;
    color: white;
    padding: 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card strong {
    font-size: 18px;
}